body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color:#333;
	background-color:#f9f9f9 !important;
}
.break{
	margin-top:6%;
}
.bg-login{
	background: url(../images/login-bg.png);
	background-position:center;
	background-repeat:no-repeat;
	margin:auto;
	padding:10px 30px 170px 30px;
	max-width:350px;
}
